:root {
  --c1: #f0f0f0;
  --c2: #e3e3e3;
  --c3: #cfcfcf;
  --c4: #bababa;
  --c5: #a6a6a6;
  --c6: #919191;
  --c7: #7d7d7d;
  --c8: #696969;
  --c9: #545454;
  --c10: #404040;
  --c11: #292929;
  --c12: #141414;
  --cp1: #553c00;
  --cp2: #c18a02;
  --cp3: #e0a108;
  --cp4: #eeb52a;
  --cp5: #eac059;
  --cp6: #fcd169;
  --cp7: #e6cf96;
}

.c1 {
  color: var(--c1);
}

.c2 {
  color: var(--c2);
}

.c3 {
  color: var(--c3);
}

.c4 {
  color: var(--c4);
}

.c5 {
  color: var(--c5);
}

.c6 {
  color: var(--c6);
}

.c7 {
  color: var(--c7);
}

.c8 {
  color: var(--c8);
}

.c9 {
  color: var(--c9);
}

.c10 {
  color: var(--c10);
}

.c11 {
  color: var(--c11);
}

.c12 {
  color: var(--c12);
}

.cp1 {
  color: var(--cp1);
}

.cp2 {
  color: var(--cp2);
}

.cp3 {
  color: var(--cp3);
}

.cp4 {
  color: var(--cp4);
}

.cp5 {
  color: var(--cp5);
}

.cp6 {
  color: var(--cp6);
}

.cp7 {
  color: var(--cp7);
}
