* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

p,
ul,
body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
