.dropdown-wrapper > ul.show {
  display: block;
}

.dropdown-wrapper > ul.contains-only-1 li {
  border-radius: 6px;
}

.dropdown-wrapper li {
  cursor: pointer;
  font-weight: 600;
  background: var(--cp6);
  color: var(--c12);
  padding: 0.5rem 0.75rem;
}

.dropdown-wrapper li:hover {
  background-color: var(--cp5);
}

.dropdown-wrapper li:first-child {
  border-radius: 6px 6px 0 0;
}

.dropdown-wrapper li:last-child {
  border-radius: 0 0 6px 6px;
}

.dropdown-wrapper li + li {
  border-top: 1px solid var(--cp1);
}
