.data-table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.data-table-wrapper thead tr {
  background-color: var(--cp6);
}

.data-table-wrapper thead tr th {
  color: var(--cp1);
}

.data-table-wrapper tbody tr {
  color: var(--c1);
  background-color: var(--c10);
}

.data-table-wrapper tbody td {
  border: 1px solid var(--c9);
}

.data-table-wrapper tbody td:first-of-type {
  border-left: none;
}

.data-table-wrapper tbody td:last-of-type {
  border-right: none;
}

.data-table-wrapper td,
.data-table-wrapper th {
  text-align: left;
  padding: 0.75rem 1.125rem;
  font-size: 0.9375rem;
}

.data-table-wrapper footer > p {
  font-size: 0.8125rem;
}

.data-table-wrapper footer {
  gap: 1rem;
  display: flex;
  color: var(--c1);
  justify-content: flex-end;
  padding: 2rem 0 0 0;
}

.data-table-wrapper footer > div {
  display: flex;
  gap: 1.5rem;
}

.data-table-wrapper footer img {
  cursor: pointer;
}

.data-table-wrapper footer img:last-child {
  transform: rotate(180deg);
}
