.table-wrapper {
  position: relative;
  background-color: var(--c11);
  padding: 1rem;
  border-radius: 6px;
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper thead tr {
  background-color: var(--cp6);
}

.table-wrapper thead tr th {
  color: var(--cp1);
}

.table-wrapper tbody tr {
  color: var(--c1);
  background-color: var(--c10);
}

.table-wrapper tbody td {
  border: 1px solid var(--c9);
}

.table-wrapper tbody td:first-of-type {
  border-left: none;
}

.table-wrapper tbody td:last-of-type {
  border-right: none;
}

.table-wrapper td,
.table-wrapper th {
  text-align: left;
  padding: 15px 20px;
}

.table-wrapper footer {
  gap: 1rem;
  display: flex;
  color: var(--c1);
  justify-content: flex-end;
  padding: 2rem 0 0 0;
}

.table-wrapper footer > div {
  display: flex;
  gap: 1.5rem;
}

.table-wrapper footer img {
  cursor: pointer;
}

.table-wrapper footer img:last-child {
  transform: rotate(180deg);
}
